.hhh {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hhh {
  content: "";
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #11c86d;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hhh:hover::before .hhh:hover:focus .hhh:hover:active {
  left: 0;
  right: 0;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#image1,
#image2,
#image3 {
  margin: 0;
}
#image1 {
  position: absolute;
  top: 22%;
  opacity: 0.5;
}
#image3 {
  position: absolute;
  top: 22%;
  opacity: 0.3;
}
