@media screen and (min-width: 769px) and (max-width: 1600px) {
  .top {
    background-color: rgb(254, 255, 255);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  body {
    margin: 0%;
  }
  .container {
    display: flex;
  }
  .left {
    height: 90vh;
    width: 10%;
    background-color: rgb(209, 209, 209);
  }
  .right {
    height: 90vh;
    width: 85%;
    background-color: rgb(254, 255, 254);
    flex-wrap: wrap;
  }
  .input {
    width: 20%;
    height: 10vh;
    text-align: center;
    background-color: rgb(238, 238, 238);
  }
  .search {
    height: 5%;
    width: 100%;
    background-color: rgb(239, 237, 237);
    text-align: center;
    border-radius: 25%;
  }
  .container2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .video {
    width: 30%;
    height: 35%;
    background-color: rgb(237, 237, 237);
    text-align: center;
    margin: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sector1 {
    width: 100%;
    height: 65%;
    background-color: rgb(237, 237, 237);
    gap: 10px;
  }
  .sector2 {
    width: 80%;
    height: 20%;
    background-color: rgb(183, 183, 183);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .rah1 {
    width: 15%;
    height: 90%;
    background-color: rgb(236, 236, 236);
  }
  .rah2 {
    width: 80%;
    height: 90%;
    background-color: rgb(237, 237, 237);
  }
  .box {
    width: 100%;
    height: 10%;
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .box:hover {
    background-color: rgb(201, 201, 201);
  }
  img {
    width: 100%;
    height: 100%;
  }
  .RAH {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  video {
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }
  .search:hover {
    background-color: rgb(177, 177, 177);
    color: azure;
  }
  .minibox {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: start;
    justify-content: end;
    background-color: rgb(0, 0, 0);
    border-radius: 25%;
  }
  .input3 {
    width: 20%;
    height: 10vh;
    text-align: center;
    background-color: rgb(237, 237, 237);
  }
  .jkl {
    height: 90%;
    width: 90%;
    background-color: rgb(212, 212, 212);
    display: flex;
  }
  .miniminibox {
    height: 100%;
    width: 55%;
  }
  .miniminibox2 {
    height: 100%;
    width: 45%;
    display: flex;
    text-align: center;
  }
  .rah2:hover {
    background-color: rgb(227, 227, 227);
  }
  .box1 {
    width: 100%;
    height: 10%;
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .crate {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: start;
    justify-content: end;
    background-color: rgb(0, 0, 0);
    border-radius: 25%;
  }
  .box1:hover {
    background-color: rgb(180, 180, 180);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .input {
    width: 20%;
    height: 10vh;
    text-align: center;
    background-color: rgb(237, 237, 237);
  }
  .top {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  body {
    margin: 0%;
  }
  .container {
    display: flex;
  }
  .left {
    height: 90vh;
    width: 10%;
    background-color: rgb(255, 255, 255);
  }
  .right {
    height: 90vh;
    width: 85%;
    background-color: rgb(254, 255, 254);
    flex-wrap: wrap;
  }
  .search {
    height: 5%;
    width: 100%;
    background-color: rgb(239, 237, 237);
    text-align: center;
    border-radius: 25%;
  }
  .container2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .video {
    width: 30%;
    height: 35%;
    background-color: rgb(237, 237, 237);
    text-align: center;
    margin: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sector1 {
    width: 80%;
    height: 65%;
    background-color: rgb(237, 237, 237);
    gap: 10px;
  }
  .sector2 {
    width: 80%;
    height: 20%;
    background-color: rgb(183, 183, 183);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .rah1 {
    width: 15%;
    height: 90%;
    background-color: rgb(236, 236, 236);
  }
  .rah2 {
    width: 80%;
    height: 90%;
    background-color: rgb(237, 237, 237);
  }
  .box1 {
    width: 100%;
    height: 10%;
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .box:hover {
    background-color: rgb(201, 201, 201);
  }
  img {
    width: 100%;
    height: 100%;
  }
  .RAH {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  video {
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }
  .search:hover {
    background-color: rgb(177, 177, 177);
    color: azure;
  }
  .crate {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: start;
    justify-content: end;
    background-color: rgb(0, 0, 0);
    border-radius: 25%;
  }
  .input3 {
    width: 20%;
    height: 10vh;
    text-align: center;
    background-color: rgb(237, 237, 237);
  }
  .jkl {
    height: 90%;
    width: 90%;
    background-color: rgb(212, 212, 212);
    display: flex;
  }
  .miniminibox {
    height: 100%;
    width: 55%;
  }
  .miniminibox2 {
    height: 100%;
    width: 45%;
    display: flex;
    text-align: center;
  }
  .rah2:hover {
    background-color: rgb(227, 227, 227);
  }
  .box {
    visibility: hidden;
  }
  .minibox {
    visibility: hidden;
  }
}
